.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}


.characterbox {
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5%;
}
